<div style="min-height: calc(100vh - 112px);">
    <nav aria-label="breadcrumb" class="my-2 d-flex align-items-center justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/partner" class="text-dark">Home</a></li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/partner/profile" class="text-dark">Account</a></li>
        </ol>
    </nav>
    {{#with partner}}
    <section style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-12 mb-3">
                                            <h6>Name</h6>
                                            <p class="text-muted">{{TenNguoiDaiDien}}</p>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{Email}}</p>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h6>Address</h6>
                                            <p class="text-muted">{{DiaChiKinhDoanh}}</p>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">{{SDT}}</p>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <h6>Number of Shop</h6>
                                            <p class="text-muted">{{SoLuongChiNhanh}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/with}}
    <div class="text-center m-3">
        <a href="/partner" class="btn btn-primary" style="width: 80px;">Back</a>
    </div>
</div>