<div class="" style="width: 100%; min-height: calc(100vh - 112px); padding: 0 1em;">
    <nav aria-label="breadcrumb" class="my-2 d-flex align-items-center justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/partner" class="text-dark">Home</a></li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/partner/profile" class="text-dark">Account</a></li>
        </ol>
    </nav>
    <div class="app" style="width: 100%; min-height: calc(100vh - 112px); padding: 0 1em;">
        <div class="text-center">
            <h1 class="cart-header">Quản lý các đơn hàng của cửa hàng {{ID_CuaHang}}</h1>
        </div>
        <div class="cart-table">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID Package</th>
                        <th scope="col">ID Customer</th>
                        <th scope="col">ID Driver</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.ID_DonHang}}</td>
                        <td>{{this.ID_KhachHang}}</td>
                        <td>{{this.ID_TaiXe}}</td>
                        <td>{{this.DiaChiGiaoHang}}</td>
                        <td>{{this.TinhTrangDonHang}}</td>
                        <td>
                            <a href="/partner/package/{{this.ID_DonHang}}/edit" type="button" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="w-100 text-center">
            <a href="/partner" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>