<div class="" style="width: 100%; min-height: calc(100vh - 112px); padding: 0 1em;">
    <nav aria-label="breadcrumb" class="my-2 d-flex align-items-center justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="text-dark">Home</a></li>
            <li class="breadcrumb-item"><a href="/cart" class="text-dark">Cart</a></li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/profile" class="text-dark">Account</a></li>
        </ol>
    </nav>
    <div class="partner-container">
        <h1 class="partner-header mb-3">Danh sách đối tác</h1>
        <ul class="partner-list">
        {{#each partners}}
            <li class="partner-item">
                <div class="partner-item-left">
                    <img src="/static/images/SP.jpg" alt="" class="partner-img"/>
                    <div class="partner-content">
                        <h3><a href="/foods/{{ID_DoiTac}}">{{TenQuan}} - {{ID_DoiTac}}</a></h3>
                        <p>{{DiaChiKinhDoanh}}</p>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="partner-item-right">
                    <p>Loại ẩm thực: {{LoaiAmThuc}}</p>
                    <p>Số lượng chi nhánh: {{SoLuongChiNhanh}}</p>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
</div>